#forget {
margin-top : 7%;
}
body {
color : #000;
font : 14px Arial;
margin : 0 auto;
padding : 0;
position : relative;
}
h1 {
font-size : 28px;
}
h2 {
font-size : 26px;
}
h3 {
font-size : 18px;
}
h4 {
font-size : 16px;
}
h5 {
font-size : 14px;
}
h6 {
font-size : 12px;
}
h1, h2, h3, h4, h5, h6 {
color : #563D64;
}
small {
font-size : 10px;
}
b, strong {
font-weight : bold;
}
a {
text-decoration : none;
}
a:hover {
text-decoration : underline;
}
.left {
float : left;
}
.right {
float : right;
}
.alignleft {
float : left;
margin-right : 15px;
}
.alignright {
float : right;
margin-left : 15px;
}
.clearfix:after, form:after {
content : ".";
display : block;
height : 0;
clear : both;
visibility : hidden;
}
.container {
margin : 25px auto;
position : relative;
width : 405px;
}
#content h1:before, #content h1:after {
content : "";
height : 1px;
position : absolute;
top : 10px;
width : 27%;
}
#content h1:after {
background : rgb(126, 126, 126);
right : 0;
}
#content h1:before {
background : rgb(126, 126, 126);
left : 0;
}
#content:before {
transform : rotate(-3deg);
top : 0;
z-index : -2;
}
#content form {
margin : 0 20px;
position : relative;
}
#content form input[type="text"], #content form input[type="password"] {
border-radius : 3px;
box-shadow : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
transition : all 0.5s ease;
background : url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat #eae7e7;
border : #c8c8c8 solid 1px;
color : #777;
font : 13px Helvetica, Arial, sans-serif;
margin : 0 0 10px;
padding : 15px 10px 15px 40px;
width : 80%;
}
#content form input[type="text"]:focus, #content form input[type="password"]:focus {
box-shadow : 0 0 2px #ed1c24 inset;
background-color : #fff;
border : #ed1c24 solid 1px;
outline : none;
}
#username {
background-position : 10px 10px !important ;
}
#password {
background-position : 10px -53px !important ;
}