<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Disney</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="margin-right: 1%;margin-left: 1%;overflow-x: hidden;margin-top:1%; background-image: url('/assets/online.jpg');background-size: 107% 213%;background-repeat: no-repeat;">
    <%= yield %>
  </body>
</html>

